.job {
  &_container {
    .job_content {
      .seller_header {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 15px;
        p {
          margin-bottom: 0;
          margin-left: 5px;
          font-weight: bold;
        }
      }

      .job_image {
        width: 100%;
        img {
          width: 100%;
        }
      }

      .job_info {
        margin-top: 20px;
      }

      .seller_info {
        &_container {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          img {
            border-radius: 50%;
            width: 90px;
          }
          &_text {
            p {
              margin-bottom: 0;
              font-size: 14px;
            }
          }
        }
      }

      .job_FAQ {
        
        ul {
          list-style-type: none;
          li {
            border-bottom: 1px solid black;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
              font-weight: bold;
              color: #62646a;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
