.typelist {
  width: 75%;
  margin: 0px auto 100px;
  .typelist_container {
    .item {
      .img {
        height: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .list {
        ul {
          list-style-type: none;
        }
      }
    }
  }
}
