.hired {
  &_container {
    &_item {
      margin-bottom: 30px;
      display: flex;
      @media (max-width: 768px) {
        display: block;
      }
      &_img {
        img {
          height: 135px;
        }
      }
      &_content {
        .text_sub {
          font-size: 13px;
          color: gray;
        }
      }
    }
  }
}
